html
{                                                                                                                             
display: table;                                                                                                               
margin: auto;                                                                                                                 
	background-color: #aa80ff;                                                                                                    
	font-size: 150%;
}

#ans 
{
	background-color: #990099;
color: white;
       text-align: center;
       box-shadow: 10px 10px 5px #888888;
}
